.blinkingCursor {
  font-weight: 700;
  font-size: 20rem;
  line-height: 1.3;
  color: #66FCF1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: blink;
  animation-timing-function: step-end;
}

@keyframes blink {
  from, to { color: transparent; }
  50% { color: #66FCF1; }
}